{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Comics <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/newComic">
    Crear comic
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if listaComic|length > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            	<th> Nombre </th>
            	<th> Descripcion </th>
            	<th> Fecha de creacion </th> 
            </thead>
            <tbody>
            {% for comic in listaComic %}
            <tr>
                <td>{{ comic.nombre }}</td>
                <td>{{ comic.descripcion }}</td>
                <td>{{ comic.fechaCreacion.strftime('%Y-%m-%d') }}</td>
                <td><a class="btn btn-warning" href="/editarComic/{{ comic.idComic }}">Editar </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen comics todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}
