{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Entregas de Comic <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>

 <form class="form-horizontal" role="form" action="/newEntrega/{{ comicID }}" method="get">
                        <button class="btn btn-warning">Crear Entrega</button><hr/>
                    </form>

    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if listaEntregas|length > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="/ordenAlfabetico" method="get">

                        <button class="btn btn-warning">Orden Alfabetico </button><hr/>
                    </form>
                    
                     <form class="form-horizontal" role="form" action="/buscarNumEntregas" method="get">

                        <button class="btn btn-warning">Orden Numero Entregas </button><hr/>
                    </form>
                    
      <form class="form-horizontal" role="form" action="/buscarFechaMayor" method="get">
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="busquedaFechaMayor" id="busquedaFechaMayor"
                           placeholder="fecha">
                </div>
                <button type="submit" value="submit" class="btn btn-warning" >Buscar por Fecha Mayor que</button>

        </form>
               
<form class="form-horizontal" role="form" action="/buscarNombre" method="get">
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="busquedaNombre" id="busquedaNombre"
                           placeholder="nombre">
                </div>
                <button type="submit" value="submit" class="btn btn-warning" >Buscar por Nombre</button>

        </form>

                        <form class="form-horizontal" role="form" action="/ordenFecha" method="get">


                        <button class="btn btn-warning">Orden Fecha </button>
                                </form>

        <table class="table">
            <thead>
            	<th> Nombre </th>
            	<th> Fecha de creacion </th> 
            </thead>
            <tbody>
            {% for entrega in listaEntregas %}
            <tr>
                <td>{{ entrega.nombre }}</td>
                <td>{{ entrega.fechaCreacion.strftime('%Y-%m-%d') }}</td>
                <td><a class="btn btn-warning" href="/editarComic/{{ entrega.idComic }}">Editar </a></td>
                <td> <a class="btn btn-danger" href ="/delete/{{ entrega.idComic }}">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen comics todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}
