{% extends "base.html" %} {% block content %}
<h1>Entregas</h1>
<hr />
{% if listaEntregas |length > 0 %}
<div class="container align-items-center">
	<form class="form-group" role="form" action="/newEntrega/{{listaEntregas[0].idComic.idComic}}"
		method="get">
		<hr />
		<button class="btn btn-primary">Crear Entrega</button>
		<hr />
	</form>
</div>
{% else %}
<div class="container align-items-center">
	<form class="form-group" role="form" action="/newEntrega/{{ comicID }}"
		method="get">
		<hr />
		<button class="btn btn-primary">Crear Entrega</button>
		<hr />
	</form>
</div>
{% endif %}


{% if listaEntregas |length > 0 %}

<div class="container align-items-center">
	<div class="d-flex flex-row-reverse pt-3 pb-2 mb-3 border-bottom">
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<div class="form-group mb-2">
					<form class="form-inline" role="form"
						action="/buscarFechaMayor/{{listaEntregas[0].idComic.idComic}}"
						method="get">
						<div class="input-group">
							<input type="date" class="form-control"
								name="busquedaFechaMayorEntrega" id="busquedaFechaMayorEntrega"
								placeholder="fecha">
						</div>
						<div class="input-group-append">
							<button type="submit" value="submit" class="btn btn-primary">Buscar
								por Fecha Mayor que</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<div class="container align-items-center">
		<div
			class="d-flex flex-row-reverse align-items-center pt-1 pb-1 mb-2 border-bottom">
			<form class="form-horizontal" role="form"
				action="/ordenFechaEntrega/{{ listaEntregas[0].idComic.idComic }}"
				method="get">
				<button class="btn btn-primary">Ordena por Antig&uuml;edad
				</button>
			</form>
			<span style="margin-right: 10px;"></span>
			<form class="form-horizontal" role="form"
				action="/ordenNombreInverso/{{listaEntregas[0].idComic.idComic}}"
				method="get">
				<button class="btn btn-primary">Orden Nombre Inverso</button>
			</form>
		</div>

		<div class="table-resposive">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Fecha de creacion</th>
						<th scope="col">Entrega</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for entrega in listaEntregas %}
					<tr>
						<td>{{ entrega.nombre }}</td>
						<td>{{ entrega.fechaCreacion.strftime('%Y-%m-%d') }}</td>
            <td><img src="data:image/png;base64,{{ entrega.archivo }}" style="width:100px; height: 100px;" /></td>
						<td><a class="btn btn-warning"
							href="/editarEntrega/{{entrega.idEntrega}}">Editar </a></td>
						<td><a class="btn btn-danger"
							href="/deleteEntrega/{{ entrega.idEntrega }}">Eliminar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{% else %}
			<div class="container align-items-center">
				<div class="text-center">
					<div class="bg-warning warning_mesagge">
						<label>No existen entregas todav&iacute;a.</label>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<!--
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if listaEntregas|length > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="/ordenFechaEntrega/{{ listaEntregas[0].idComic.idComic }}" method="get">

                        <button class="btn btn-warning">Ordena por Antig&uuml;edad </button><hr/>
                    </form>

                    <form class="form-horizontal" role="form" action="/buscarFechaMayor/{{listaEntregas[0].idComic.idComic}}" method="get">
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="busquedaFechaMayorEntrega" id="busquedaFechaMayorEntrega"
                           placeholder="fecha">
                </div>
                <button type="submit" value="submit" class="btn btn-warning" >Buscar por Fecha Mayor que</button>
</form>

                        <form class="form-horizontal" role="form" action="/ordenNombreInverso/{{listaEntregas[0].idComic.idComic}}" method="get">
                        <button class="btn btn-warning">Orden Nombre Inverso </button>
                                </form>

        <table class="table">
            <thead>
            	<th> Nombre </th>
            	<th> Fecha de creacion </th>
            </thead>
            <tbody>
            {% for entrega in listaEntregas %}
            <tr>
                <td>{{ entrega.nombre }}</td>
                <td>{{ entrega.fechaCreacion.strftime('%Y-%m-%d') }}</td>
                <td><a class="btn btn-warning" href="/editarComic/{{ entrega.idComic }}">Editar </a></td>
                <td> <a class="btn btn-danger" href ="/deleteEntrega/{{ entrega.idEntrega }}">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen entregas todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>  -->

{% endblock content %}
