{% extends "base.html" %} {% block content %}
<h1>Crear Entrega</h1>
<hr />

<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="card">
			<div class="card-body">
				<form class="form-inline" role="form" action="" method="post"
					enctype="multipart/form-data">
					<div class="form-group ">
						<label for="inputText" class="control-label">Nombre:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="nombreEntrega"
								id="nombreEntrega" placeholder="text">
						</div>
					</div>
					<!--  <div class="form-group">
				<label for="inputFile" class="col-sm-3 control-label">Archivo</label>
				<div class="col-sm-6">
					<input type="file" accept="image/*" class="form-control"
						name="archivoEntrega" id="archivoEntrega">
				</div>
			</div>
			 -->
					<div>
						<label class="btn btn-primary"> Archivo <input type="file"
							accept="image/*" style="display: none;" name="archivoEntrega"
							id="archivoEntrega">
						</label>
					</div>
					<span style="margin-right: 10px;"></span>
					<div class="form-group text-center">
						<button type="submit" value="submit" class="btn btn-success">Crear</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

